.project {
    width: 40%;
    margin-bottom: 2%;
}

.project_catalog {
    display: flex;
    flex-wrap: wrap;
}

.button_detail {
    border: 2px solid #419037;
    border-radius: 15px;
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #419037;
    padding: 3% 38%;
    align-items: center;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
}

.line_project {
    margin-bottom: 5%;
}

.button_detail:hover {
    background-color: #419037;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(65, 144, 55, 0.3);
}

.project_information {
    width: 80%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(62, 34, 1, 0.15);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: 3%;
    align-items: center;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h2 {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: #419037;
    margin-bottom: 10%;
}

.info p {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: #000000;
}

.project_img {
    width: 100%;
    height: 350px;
    background: rgba(36, 95, 29, 0.5);
    border-radius: 20px 20px 0px 0px;

}
.project_img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.5) 100%
    );
    z-index: 1;
    border-radius: 20px 20px 0px 0px;
    transition: opacity 0.3s ease;
}

/* Усиление затемнения при наведении на карточку */
.project:hover .project_img::after {
    opacity: 0.7;
}