.project_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_descr {
    width: 90%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 2% 3%;
    display: flex;
    gap: 5%;
    align-items: center;
    margin-top: 2%;

}

.pd_text {
    width: 50%;
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: justify;
    color: #000000;
}

.pd_img {
    width: 50%;
}

/* Краткая информация */
.project_short {
    width: 94%;
    height: auto;
    background: linear-gradient(90deg, #419037 0%, #92BA52 100%);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 2% 1%;
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 2%;
}

.text_project_info p {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-size: 18px;
    text-align: justify;
    color: #FFFFFF;
}

.text_project_info h2 {
    font-family: 'Montserrat-Bold';
    font-size: 22px;
    text-align: justify;
    color: #FFFFFF;
}

.project_inf {
    display: flex;
    align-items: center;
    gap: 2%;
}

/* Цели и обзор */
.purpose_project {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;
    padding: 2%;
}

.purpose h2 {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: justify;
    color: #825B2C;
    margin-bottom: 1%;
}

.purpose p {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: #000000;
    margin-bottom: 2%;
}

.text_purpose {
    width: 60%;
}

.project_short2 {
    width: 40%;
    height: auto;
    background: linear-gradient(90deg, #419037 0%, #92BA52 100%);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 2% 3%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin-top: 2%;
}

.project_inf2 {
    display: flex;
    align-items: center;
    gap: 2%;
    margin-bottom: 5%;
}

/* --------------Галерея проекта------------- */

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
    margin-top: 2%;
    margin-bottom: 3%;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;

}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;

}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;

}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery__item--6 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 9;
}
.gallery__item--7 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}
.gallery img {
    border-radius: 20px;
}

footer {
    margin-top: 2%;
}